*.directory
*.DS_Store
*.jpeg
*.jpg
*.png
*.tiff
*.xls
*.xlsx
*.svg
*.fig
*.xml
*.db
*.mbp3
*.zip
*.pptx
*.save
*.RData
*.mbdt
*.docx
*.Rhistory
*.log
*.asv
*.h5
*.csv
*.mps
*.o
code/
miscFiles/
data/models/Harvey
data/models/Harvey_new
data/models/Male_11452
data/models/Male_13951

